@import 'src/styles/css/main';
@import 'src/styles/css/const';

.container {
  width: 690px;
  height: 100vh;
  background: #fff;

  display: grid;
  @include gridTemplateRows(auto 1fr auto);
  @include fontStyles($large);
}
