@import 'styles/css/main';
@import 'styles/css/const';

.modal {
  display: flex;
  @include flexCenter;

  .paper {
    background-color: #0e1623;
    min-width: 16.5rem;

    & > div {
      padding: $med $small;
    }

    .headerContainer {
      border-bottom: border($borderColor: $bgColorSecondary);
      @include flexBetween;

      .header,
      .closeIcon {
        color: $colorDenary;
        font-size: 0.9375rem;
        font-weight: 600;
        padding: 0;
      }
    }

    .modalBody {
      display: grid;
      gap: $med;

      .modalActionBtns {
        width: fit-content;
        margin-top: $xSmall;
      }
    }

    .modalText {
      font-size: 0.8125rem;
      color: #4d6896;
    }
  }
}

.waferListContainer {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-height: 15rem;
  min-height: 2.5rem;
  overflow: auto;
}
