.greenBox {
  width: 12px;
  height: 12px;
  background-color: #059669;
}

.greenBoxLight {
  width: 12px;
  height: 12px;
  border: 1px solid #059669;
}

.yellowBox {
  width: 12px;
  height: 12px;
  background-color: #fbbf24;
}

.yellowBoxLight {
  width: 12px;
  height: 12px;
  border: 1px solid #fbbf24;
}

.grayBox {
  width: 12px;
  height: 12px;
  background: #82a0ce;
}

.grayBoxLight {
  width: 12px;
  height: 12px;
  border: 1px solid #82a0ce;
}

.graph {
  height: 380px;
}

.textStyle {
  font-size: 14px;
}

.clickableContainer {
  margin: 12px 0px 28px 30px;
}
