@import 'src/styles/css/main';
@import 'src/styles/css/const';

.errorBoundaryUI {
  width: 100%;
  height: 100%;

  @include flexColumn;
  @include flexCenter;
  text-align: center;

  font-weight: $fontWeightMed;

  transform: translateY(-50px);

  .header {
    @include fontInherit($large);
    margin: $small 0 $xxxSmall;
  }

  .subHeader {
    @include fontInherit($med);
    margin-bottom: $med;
  }
}
