@import 'styles/css/const';

.aiLabels {
  background-color: #d97706 !important;
  color: #fff !important;
}

.subLabel {
  padding: 0 2px;
  border-radius: $borderRadiusBox;
  line-height: 1.5;
  margin-left: $xxxSmall;
}

.subLabelAiConfidence {
  background-color: #b45309;
}
