@import 'styles/css/main';

.root {
  display: flex;
  width: 100%;

  .leftSide {
    width: max(300px, 20%);
    border-right: 1px solid #e0ecfd;
  }

  .rightSide {
    width: 80%;
    min-height: 350px;
    max-height: 600px;
    overflow: auto;
    ::-webkit-scrollbar {
      width: 8px;
    }
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 0px white;
      border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #dfdcdc;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #cecece;
    }
  }
}
