@import 'styles/css/main';

.root {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex-direction: column;

  font-size: 0.75rem;
  font-weight: 500;
  color: #000000;

  .legendsContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

    .legend {
      display: flex;
      align-items: center;
      gap: 4px;

      .legendBox {
        width: 8px;
        height: 8px;
      }
    }
  }
}
