@import 'styles/css/main';
@import 'styles/css/const';

.cardContainer {
  padding: 8px;

  .card {
    display: grid;
    @include gridTemplateRows(calc(100% - 35px) 35px);
    height: 100%;
    overflow: hidden;
    cursor: pointer;

    .cardInfo {
      background: $bgColorSecondary;
      height: 35px;
      padding: 8px 4px;
      display: grid;
      @include gridTemplateColumns(auto auto auto);
      justify-content: start;
      align-content: center;
      align-items: center;
      gap: $xxxSmall;

      & > div {
        background-color: $colorTertiary;
        padding: 1px $xxSmall;
        border-radius: $borderRadiusBox;
      }
    }
  }

  &.selected {
    padding: 6px;
    color: $colorSeptenary;

    .card {
      border: border(2px, solid, $colorQuinary);
      border-radius: 4px;

      .cardInfo {
        background: $colorQuinary;

        & > div {
          background-color: $colorDenary;
        }
      }
    }
  }
}
