@import 'src/styles/css/main';

.container {
  position: relative;
  height: inherit;
}

.childrenContainer {
  // opacity: 0.5;
  // position: absolute;
  // top: 0px;
  // left: 0px;
  // pointer-events: none;
}

.infoContainer {
  z-index: 5;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  padding: 0px 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.infoPaper {
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  p {
    font-size: 0.75rem;
    font-weight: 400;
    color: #000;
  }
}
